{% extends 'layout.twig' %}

{% block content %}
    {# Navigation Bar #}
    {% include 'partials/_nav.twig' %}

    {# Main Content Area #}
    <div id="main-content-tabs" class="fade-in">
        {% if active_main_tab == 'Cockpit' %}
            {% include 'partials/_tab_cockpit.twig' %}

        {% elseif active_main_tab == 'Recruitment Analyzer' %}
            {% include 'partials/_tab_recruitment.twig' %}
        
        {% elseif active_main_tab == 'Training Planner' %}
            {% include 'partials/_tab_training.twig' %}

        {% elseif active_main_tab == 'Division Baseline' %}
            {% include 'partials/_tab_baseline.twig' %}
        
        {% elseif active_main_tab == 'Division Differences' %}
            {% include 'partials/_tab_differences.twig' %}
            
        {% elseif active_main_tab == 'Car Wear' %}
            {% include 'partials/_tab_car_wear.twig' %}

        {% elseif active_main_tab == 'Race Strategy' %}
            {% include 'partials/_tab_strategy.twig' %}

        {% elseif active_main_tab == 'Testing' %}
            {% include 'partials/_tab_testing.twig' %}

        {% endif %}
    </div>
{% endblock %}